.title {
  display: flex;
  padding: 0 10px;
}
.Restaurant-name {
  font-weight: 900;
  margin-right: 10px;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}
.name-of-user {
  display: flex;
  margin-right: 10px;
  flex-direction: column;
}
.city {
  margin-right: 3px;
}
