.food {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-around;
  padding: 0 15px;
}
.text-of-food {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
}
.foodname {
  margin-right: 15px;
  font-size: 12px;
}
.price {
  align-self: flex-end;
  font-size: 12px;
  padding-bottom: 20px;
}
.del {
  color: #9d9d9d;
  text-decoration: line-through;
  margin-top: -60px;
}
.pm {
  padding: 13px 9px;
  display: flex;
  border-bottom: 2px solid #e5e5e5;
}
.minibtn {
  border-radius: 100%;
  padding: 5px;
  display: flex;
}
.minibtn > img {
  width: 24px;
}
.number-of-food {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  margin: auto 6px;
}
.icons {
  display: flex;
  align-items: center;
}
.saving {
  margin-right: auto;
  color: Gray;
}
.underline {
  text-decoration: underline dotted gray;
}
.underline > span {
  padding: 5px;
}
button {
  all: unset;
  font-family: IRANSans;
  border: none;
}
.delete {
  margin-right: 5px;
}
.mines {
  padding-right: 0px;
}
.pruductimg {
  width: 82px;
  height: 82px;
  border-radius: 10px;
}
