.button2 {
  direction: ltr;
  margin-top: 20px;
  padding-left: 13px;
}
.off-button {
  background: #eeeeee;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  font-weight: 600;
  font-size: 12px;
  color: 33ee3e;
}
.off-button > svg {
  padding: 4px;
}
