* {
   
 max-width: 360px;   
 margin: auto;
 
 background-color:white;
 /* padding: 0 8px; */
 box-sizing: border-box;
}
body {
 
    font-family: IRANSans;
    direction: rtl;
    margin: 0;
    
    

  }