.food {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-around;
    padding: 0 10px;
   
  }
  .text-of-food {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
  }
  .foodname , .foodnum {
    margin-right: 25px;
  }
  .price {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
  }
  .del {
    color: #9d9d9d;
    text-decoration: line-through;
    margin-top: -49px;
  }
  .foodinfo{
    display: flex;
    flex-direction: column;
  }
 .productimg{
   width: 82px;
   height: 82px;
   border-radius: 10px;
 }