.Encouragement{
    background-color: #DFF5F1;
    color: #00786C;
    display: flex;
    margin: 0 10px;
    margin-top: 15px;
    }
    .text-of-Encouragement
    {
    margin: 0;
      margin-right: 10px;
      padding: 5px;
    }
    .text-of-Encouragement2{
        font-weight: 600;
      }