.button3 {
  background: #df3856;
  border-radius: 100px;
  color: white;
  font-size: 14px;
  padding: 6px 22px;
}
.continue {
  display: flex;
  padding: 0 15px;
}
.a1 {
  margin-top: 22px;
}
.a2 {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.p1 {
  padding-bottom: 10px;
  font-weight: bold;
}
